[*.cs]

# CA2016: Forward the 'CancellationToken' parameter to methods
dotnet_diagnostic.CA2016.severity = warning

# CA1852: Class not sealed
dotnet_diagnostic.CA1852.severity = warning

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true
