<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Attributes>
            <Exclude>
              <Attribute>^System\.Diagnostics\.DebuggerHiddenAttribute$</Attribute>
              <Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
              <Attribute>^System\.Runtime\.CompilerServices\.CompilerGeneratedAttribute$</Attribute>
              <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
              <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
            </Exclude>
          </Attributes>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>